* {
  padding: 0px;
  margin: 0px;
}

h1 {
  margin-left: 10px;
  color: #4f628b !important;
}

html {
  height: 100%;
  min-height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

fieldset {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px double (internal value);
  width: 98%;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

#mynetwork {
  width: 800px;
  height: 800px;
  border: 1px solid black;
}

.halign {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.greyborder {
  border: 1px dotted silver;
}

legend {
  border-bottom: 1px solid silver !important;
}

/* custom styles for individual items, load this after vis.css/vis-timeline-graph2d.min.css */

.vis-item.blue {
  background-color: #d5ddf6;
  border-color: #97b0f8;
  color: black;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}

.blue {
  background-color: #d5ddf6;
  border-color: #97b0f8;
  color: black;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}

.vis-item.green {
  background-color: greenyellow;
  border-color: green;
}

/* create a custom sized dot at the bottom of the red item */

.vis-item.red {
  background-color: red;
  border-color: darkred;
  color: white;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}

.red {
  background-color: red;
  border-color: darkred;
  color: white;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}

.vis-item.vis-dot.red {
  border-radius: 10px;
  border-width: 10px;
}

.vis-item.vis-line.red {
  border-width: 5px;
}

.vis-item.vis-box.red {
  border-radius: 0;
  border-width: 2px;
  font-size: 24pt;
  font-weight: bold;
}

.vis-item.orange {
  background-color: gold;
  border-color: orange;
  color: black;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}

.orange {
  background-color: gold;
  border-color: orange;
  color: black;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}

.vis-item.vis-selected.orange {
  /* custom colors for selected orange items */
  background-color: orange;
  border-color: orangered;
}

.vis-item.magenta {
  background-color: magenta;
  border-color: purple;
  color: white;
}

/* our custom classes overrule the styles for selected events,
so lets define a new style for the selected events */

.vis-item.vis-selected {
  background-color: white;
  border-color: black;
  color: black;
  box-shadow: 0 0 10px gray;
}

/***********************/

#header {
  float: left;
  height: 50px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #17233b, #4f628b);
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#header_pt1 {
  float: left;
  color: white;
  background-color: transparent;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}

#header_pt2 {
  float: left;
  color: white;
  background-color: transparent;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-right: 15px;
  font-size: 20px;
}

#header_pt3 {
  float: left;
  color: white;
  background-color: transparent;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-right: 15px;
  font-size: 20px;
}

#header_pt1_r {
  float: right;
  color: white;
  background-color: transparent;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-right: 15px;
  font-size: 15px;
}

#header_pt2_r {
  float: right;
  color: white;
  background-color: transparent;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 17px;
}

#header_pt3_r {
  float: right;
  color: white;
  background-color: transparent;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 17px;
}

#header_pt3_r:hover {
  background-color: #244b6a;
  /* https://www.colorhexa.com/244b6a */
}

#content {
  float: left;
  height: auto;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  border: 1px dotted white;
}

#footer {
  float: left;
  height: 90px;
  background-color: #fed37a;
  width: 100%;
}

#wrapper {
  float: left;
  position: absolute;
  top: 55px !important;
  width: 100%;
  z-index: 50;
}
